.ui-list {
    .ui-list-item {
        display: block;
        width: 100%;
        padding: 8px 2px 8px 2px;
        font-size: 18px;
    }

    .ui-list-item-icon {
        margin-right: 16px;
    }
}